.advantages-section

  &__inner
    & h2 
      margin-bottom: rem(32)

    & h3 
      margin-bottom: rem(24)

  &__items
    display: flex
    justify-content: center
    align-items: center

  &__item
    width: calc( 100% / 3 )
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-start

    &:not(:last-child)
      margin-right: rem(20)
      

  &__img
    display: block
    width: 100%
    min-height: 100%
    height: rem(317)
    object-fit: cover
    object-position: center
    margin-bottom: rem(32)



